<style>
h3 {
  color: MidnightBlue;
  text-align: center;
  font-size: 45px;
}
 h4 {
   color: DarkSlateBlue;
   text-align: left;
   font-size: 30px;
}
p {
  color: deeppink;
  font-size: 30px
}
body{
  background-color: lavenderblush;
}
<style>
