 h2 {
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: MidnightBlue;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 150px;
  font-size: 50px;
}

 h4 {
   color: DarkSlateBlue;
   text-align: left;
   font-size: 30px;
}
h5 {
   color: DarkSlateBlue;
   text-align: left;
   font-size: 30px;
}
p {
  color: deeppink;
  font-size: 25px
}
body{
  background-color: lavenderblush;
}
<style>
